@use '../util' as u;

.nav {
  height: 100%;

  @include u.breakpoint-down(small) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: u.rem(35);
    height: 100%;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    height: 100%;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
      height: u.rem(3);
      width: 0;
      transition: all 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__link {
    display: inline-block;
    color: var(--grayishBlue);
    font-size: u.rem(16);
    transition: all 0.3s;

    &:hover {
      color: var(--darkBlue);
    }
  }
}