@use '../util' as u;


.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: u.rem(70);
  background-color: var(--white);
  z-index: 10;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
  }

  &__cta {
    @include u.breakpoint-down(small) {
      display: none;
    }
  }
}