:root {
  --cl-primary-1: hsl(231, 69%, 60%);
  --cl-primary-2: hsl(0, 94%, 66%);
  --cl-neutral-1: hsl(229, 8%, 60%);
  --cl-neutral-2: hsl(229, 31%, 21%);
  --cl-neutral-3: hsl(240, 11%, 93%);
  --cl-light: #fff;
}