@use '../util/' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.5;
  margin-top: 0;
}

.title {
  color: var(--darkBlue);
  font-weight: 400;
  line-height: 1.1;

  &--primary {
    font-size: clamp(u.rem(32), u.rem(20) + 2vw, u.rem(48));
    margin-bottom: u.rem(30);

    @include u.breakpoint-down(small) {
      margin-bottom: u.rem(20);
    }
  }

  &--secondary {
    font-size: clamp(u.rem(26), u.rem(16) + 2vw, u.rem(36));
    margin-bottom: u.rem(30);

    @include u.breakpoint-down(small) {
      margin-bottom: u.rem(20);
    }
  }
}


.description {
  margin-top: 0;
  color: var(--grayishBlue);
  font-size: u.rem(18);
  line-height: u.rem(30);
  margin-bottom: u.rem(30);
}

a,
a:visited,
a:active {
  text-decoration: none;
}