@use '../util/' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.5;
  margin-top: 0;
}

.title {
  color: var(--darkBlue);
  font-weight: 400;
  line-height: 1.1;

  &--primary {
    font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
    margin-bottom: u.rem(30);
  }
}


.description {
  margin-top: 0;
  color: var(--grayishBlue);
  font-size: u.rem(16);
  line-height: u.rem(27);
  margin-bottom: u.rem(30);
}

a,
a:visited,
a:active {
  text-decoration: none;
}